/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    background-color: #F5F5F1;
}
img{
    width: 100%;
}
/* HEADER */
header .container{
    width: 45%;
    margin: 0 auto;
}
header h1{
    color: #333333;
    padding-top: 1.5em;
}
header p{
    color: #67615A;
    line-height: 2em;
    padding: 1.5em;
}
/* LAYOUT */
.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col{
    width: calc(100% / 3 - 30px);
}

.card{
    background-color: white;
    margin-bottom: 40px;
}
.card h2{
    padding-top:1em;
}
.card p{
    padding-bottom: 1.5em;
}